<h1>Editing Bookmark</h1>

<%= render 'form', bookmark: @bookmark, path: site_bookmark_path(@site, @bookmark) %>
<%= link_to( 'Delete', site_bookmark_path(@site, @bookmark), method: :delete, data: { confirm: 'Are you sure?' }) %> |
<%= link_to 'Back', site_path(@site) %>
